{
  "presets": [
    "env",
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-inline-environment-variables",
    "transform-regenerator",
    "babel-plugin-styled-components",
    "styled-components"
  ]
}
