{
    "root": true,
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "rules": {
        "arrow-parens": 0,
        "eqeqeq": 0,
        "semi": 0,
        "no-underscore-dangle": 0,
        "comma-dangle": "off",
        "jsx-a11y/href-no-hash": "off",
        "jsx-quotes": ["error", "prefer-single"],
        "arrow-body-style": "off",
        "no-plusplus": "off",
        "consistent-this": ["error", "self"],
        "object-curly-spacing": "off",
        "import/no-unresolved": "off",
        "import/no-named-as-default": "off",
        "import/extensions": "off",
        "import/no-extraneous-dependencies": "off",
        "import/prefer-default-export": "off",
        "react/no-unused-prop-types": "off",
        "react/forbid-prop-types": "off",
        "react/jsx-filename-extension": ["error", {"extensions": [".js"]}],
        "react/no-direct-mutation-state": "error",
        "react/sort-comp": [1, {
            "order": [
                "static-methods",
                "lifecycle",
                "everything-else",
                "/^on.+&/",
                "/^render.+$",
                "render"
            ]
        }],
        "no-console": 0
    }
}